#!/usr/bin/env xdg-open

[Desktop Entry]
Name=MadSci Daemon
Comment=Kevin's MadSci Backend App
Exec=msdaemon
Icon=msdaemon
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;

